NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_CELOSEPOLIA_URL=
NEXT_PUBLIC_CELO_URL=
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_WHACKSTAKE_ADDRESS=
NEXT_PUBLIC_MOCKGDOLLAR_ADDRESS=
NEXT_PUBLIC_GDOLLAR_ADDRESS=
BACKEND_SIGNER_PRIVATE_KEY=
NEXT_PUBLIC_PROJECTID=